@font-face {
    font-family: 'Inter'; 
    src: url('fonts/Inter.ttf') format('TrueType');
}

.slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 16px;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider > * {
  flex-shrink: 0;
  width: clamp(200px, 50vw, 350px);
  scroll-snap-align: start;
}

.status {
  padding: 32px 16px;
  text-align: center;
  font-size: 1em;
  color: var(--secondary-text);
}